.foreign-div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.foreign-span-center {
    margin: 0 auto;
    line-height: 0;
}
.foreign-span-left {
    line-height: 0;
}

div.code-highlight pre, .code-block {
    line-height: 1;
    font-size: 0.8rem;
    border-radius: 8px;
    background-color: #1f2430;
    padding: 16px 0px 10px 10px;
}

.code-block {
    background-color: #DDD;
}

img {
    margin: 0 auto;
    display: block;
}

figcaption, .code-caption {
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
}

code {
    color: coral;
}


.question {
    margin: 30px 0;
    padding: 10px;
    box-shadow: 4px 4px 4px 4px rgba(240,222,141,1);
}

.answer {
    border-top: 1px solid black;
    padding-top: 5px;
    font-size: 0.8rem;
}


@media screen and (max-width: 500px) {
    .math.display {
        font-size: 10px;
    }
}
